/*Estilos Generales*/
*,*:after,*:before{
  box-sizing: border-box;
}
html {
  box-sizing: inherit;
}
body {
  background-color: #F2F2F2;
}
.container{
  width: 80%;
  margin:0 auto;
}
.button {
  text-transform: uppercase;
  font-family: "Oswald";
  color:white;
  border-radius: 3px;
  text-decoration: none;
  padding: 0.7rem;
}
.orange:hover {
  background-color: rgba(255,128,0,0.8);
}
.orange {
  background-color:#FF8000;
}
.transparent{
  border:1px solid #FF8000;
  background-color: transparent;
  color:white;
  border-radius: 3px;
}
.transparent:hover{
  opacity: 0.8;
}
/*BODY*/
.boxIndex{
  grid-template-areas: "header"
                       "hero"
                       "about";
}
/*Header*/
header {
  display: flex;
  justify-content: center;
  position: fixed;
  top:0;
  padding: 0.2rem 0;
  width: 100%;
  background-color: transparent;
}
nav{
  display: grid;
  grid-area:header;
  grid-template-columns: 1fr 5fr 2fr;
}
nav div{
  display: flex;
  align-items: center;
}
nav div a{
  color:white;
  text-decoration: none;
  font-family: "Roboto",sans-serif;
}
nav div.boxLogo p{
  text-transform: uppercase;
  font-family: "Oswald",sans-serif;
  color:white;
  font-size: 1.2rem;
  margin: 0;

}
nav div.boxNav ul{
  display: flex;
  width: 100%;
  flex-flow: row;
  padding: 0;
  display: flex;
  justify-content: center;
}
nav div.boxNav ul li{
  list-style: none;
  padding: 0 1rem;
}
nav div.boxButtons {
  justify-content: flex-end;
}
nav div.boxNav a:hover{
 opacity: 0.8;
}
nav div.boxButtons a:first-child{
  text-decoration: underline;
}
nav div.boxButtons a:first-child:hover{
  opacity: 0.8;
}
/*Hero*/
section.hero {
  display: flex;
  flex-flow: row;
  height: 80vh;
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.5), 
      rgba(0, 0, 0, 0.5)
    ),
  url("../img/1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  width: 100%;
  align-items: center;
  grid-area:hero;
}
section.hero div.boxInfoPrincipal{
  color:white;
}
section.hero div.boxInfoPrincipal h1{
  font-family: "Roboto",sans-serif;
  font-size: 2.8rem;
  line-height: 3.5rem;
  margin:0;
}
section.hero div.boxInfoPrincipal p,a{
  font-family: "Roboto",sans-serif;
}
section.hero div.boxInfoPrincipal a{
  margin-right: 1rem;
}
section.hero div.boxInfoPrincipal p{
  font-size: 1rem;
  margin-bottom: 3rem;
}
/*ABOUT*/
section.about {
  padding: 6rem 0rem;
}
div.boxInfoAbout{
  display: flex;
  flex-flow: row;
}
div.boxAboutText {
  padding-right: 5rem;
  font-family: "Roboto", sans-serif;
  line-height: 2rem;
}
div.boxAboutText h2{
  margin-bottom: 1rem;
  margin-top:0;
  line-height: 3rem;
  color:#474747;
  font-size: 2rem;
}
div.boxAboutText p{
  color:#6f6f6f;
  margin-bottom: 2rem;
}
div.boxAboutText a{
  text-decoration: none;
  color:#fff;
  display: inline-block;
  font-family: "Oswald";
  text-transform: uppercase;
}
div.boxInfoAbout div.boxAboutImg{
  display: flex;
  align-items: center;
}
div.boxInfoAbout img{
  width: 100%;
}
/*Contact*/
section.contact{
  padding: 4rem;
  background-image:linear-gradient(
      rgba(0, 0, 0, 0.7), 
      rgba(0, 0, 0, 0.7)
    ), url("../img/3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
div.boxContact {
  text-align: center;
}
div.boxContact p{
  color:#fff;
  font-size: 2.5rem;
  font-family: "Oswald",sans-serif;
  text-transform: uppercase;
}
div.boxContact a{
  display: inline-block;
  padding: 1rem 4rem;
}
/*Testimonial*/
section.testimonial{
  padding: 4rem;
}
section.testimonial h2{
  color:#474747;
  text-align: center;
  text-transform: uppercase;
  font-family: "Oswald",sans-serif;
}
/*Footer*/
footer{
  background-color:#1f618d; 
  padding: 1rem;
}
footer p{
  margin: 0;
  color:white;
  text-align: center;
  font-family: "Roboto",sans-serif;
}